{% extends "base.html" %}

{% block title %}Поиск в корпусе{% endblock %}

{% block content %}
    <h3>Инструкция по созданию запроса</h3>
    <ol>
        <li>Слово в любой форме без кавычек - поиск по лемме. Пример: маме => находится всё по лемме "мама".</li>
        <li>Слово в одинарных кавычках - поиск по конкретной словоформе. Пример: 'маму' => находится только словоформа "маму".</li>
        <li>Поиск по части речи: upos=ЧАСТЬ_РЕЧИ. Пример: upos=NOUN найдёт все предложения с существительными.</li>
        <li>Поиск одной (только одной в запросе) из других морфологических характеристик (падеж, число, время и др.): features=ЗНАЧЕНИЕ_ФИЧИ. Пример: features=Acc найдёт все слова, стоящие в винительном падеже.</li>
        <li>Слово + его характеристика: слово+upos=ЧАСТЬ_РЕЧИ или слово+features=ЗНАЧЕНИЕ_ФИЧИ. Пример: мама+features=Acc.</li>
        <li>Два и более слов в запросе записываются через пробел.</li>
    </ol>
    <form method="post" action="/sentences">

        Введите свой запрос: <input type="text" name="sentence"><br>

        <p><input type="submit"></p>
    </form>
{% endblock %}